body {
    background-color: #cccccc;
}

.errorBlock {
    color: black;
    background-color: #bbaaaa;
    border: 3px solid #aa0000;
    border-radius: 5px;
    margin 20px auto;
    padding: 5px;
}

.error {
    color: #aa0000;
}

#addUserTable, #updateUserForm {
    width: 400px;
    margin: 50px auto;
    background-color: #bbbbbb;
    border-radius: 5px;
    padding: 10px;
}

#welcome {
    width: 600px;
    text-align: center;
    margin: 50px auto;
}

#userListTable {
    background-color: #bbbbbb;
    border-radius: 5px;
    width: 400px;
    margin: 50px auto;
}

#userListTable td {
    padding: 0 5px;
    background-color: #aaaaaa;
    border-radius: 5px;
}

#userListTable td.buttons {
    width: 100px;
}

#userListTable td.books {
    background-color: #b0b0b0;
}

#userListTable th {
    padding: 0 5px;
    background-color: #999999;
    border-radius: 5px;
}

input[type=submit] {
    background-color: #dddddd;
    padding: 2px 4px;
    font: 13px sans-serif;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    border-color: #aaa #444 #444 #aaa;
    color: black;
}

#addUserButton, #addUserButton2, #updateUserButton, #cancelButton {
    width: 80px;
    height: 40px;
    font: 15px sans-serif;
    font-weight: bold;
    text-decoration: none;
    float: right;
}

#addUserButton2 {
    width: 100px;
}

#addUserTable2, #updateUserTable {
    width: 90%;
    margin: 0 auto;
}

#userBooks {
    width: 90%;
    margin: 10px auto;
}

.bookTitle {
    width: 80%;
}

.bookEntry {
    width: 100%;
}

#updateUserTable {
    width: 100%;
}

#addBookForm {
    width: 90%;
    margin: 10px auto;
}

#addBookTable {
    width: 100%;
}

#addBookTable td.title {
    width: 80%;
}

#addBookTable input[type=text] {
    width: 95%;
    margin: 0 auto;
}

#userDetailsForm {
    width: 90%;
    margin: 0 auto;
}
